/*CSS*/
/* Estilos (em classe) para o curso de Ciência da Computação */
/*Observação: A tag <style> é utilizada para definir estilos CSS internos, ou seja, estilos que são aplicados diretamente dentro do documento HTML. Já a tag <link> é usada para vincular um arquivo CSS externo ao documento HTML, permitindo que os estilos sejam definidos em um arquivo separado. Nesse caso, usamos a tag <link>, por esse ser um arquivo CSS dedicado e externo.*/

.roxo{
    color:rgb(110, 53, 201);
}

.vermelho{
    color:rgb(255, 0, 0);
}

.preto{
    color: black;
}

.negrito{
    font-weight: bold;
}

.branco{
    color: white;
}

.b{
    background-color: #121212;
    color: #ffffff;
}

.titulo{
    font-weight: bold;
    font-size: 20pt;
}

.sublinhado{
    text-decoration: underline;
}

.pontilhada{
    border-style: dotted;
}

.tracejada{
    border-style: dashed;
}

.solida{
    border-style: solid;
}

.dupla{
    border-style: double;
}

.superior{
    border-style: inset;
}

.inferior{
    border-style: outset;
}

.body {
    background-color: black; color: white;
  }

.destaque {
    background-color: yellow; color: black; font-weight: bold;
  }

img#CSS {
    position: absolute;
    top: 14%;
    right: 1%;
}

img#Java {
    position: absolute;
    top: 13.8%;
    right: 4%;
}

img#book2{
    position: absolute;
    top:35%;
    left: 25%;
}

img#book1{
    position: absolute;
    top:35%;
    left: 0%;
}

.txt{
    margin-left: 50%;
    font-family: "Arial", sans-serif;
}

img#FEI{
    position: absolute;
    bottom:0%;
    right: 0%;
}

.dark_mode {
    background-color: black;
    color: white;
}

.borda {
    border: 2px solid rgb(253, 213, 104);
    padding: 10px;
    margin: 20px;
}