/*CSS*/
.roxo{
    color:rgb(110, 53, 201);
}

.vermelho{
    color:rgb(255, 0, 0);
}

.preto{
    color: black;
}

.negrito{
    font-weight: bold;
}

.branco{
    color: white;
}

.body{
    background-color: #121212;
    color: #ffffff;
}

.titulo{
    font-weight: bold;
    font-size: 20pt;
}

#sublinhado{
    text-decoration: underline;
}